# Tracking your Cash Flow - Part 1

You implement a income / expense tracking application, you will learn how to using Collection in Python

## Before Starting

In [9]:
# here is a list of boxes, the type of the value call Array
boxes = ['Sugar', 'Salt', 'Pepper'] 

box_1 = boxes[0]  # 0 is the index of the value, starts from 0, not 1.  this is an odd thing in programming language.
box_2 = boxes[1]
box_3 = boxes[2]

In [3]:
print(f"Box 1 contains: {box_1}")

Box 1 contains: sugar

In [ ]:
print(f"Box 2 contains: {box_2}") # execute it, and see

In [ ]:
print(f"Box 3 contains: {box_3}") # execute it, and see

In [ ]:
# The way of print all boxes above is not sustainable, what if there are 100 boxes, you won't get the value 1 by 1.
# Ask ChatGPT: How to iterate the Array in Python: boxes = ['Sugar', 'Salt', 'Pepper'] 
# Then try different code you like

In [10]:
# Adding 1 box
boxes.append('Seasame')
boxes

['Sugar', 'Salt', 'Pepper', 'Seasame']

In [13]:
# How many boxes do you have right now?
len(boxes)

4

In [14]:
# Adding 1 box
boxes.append('Sugar')
boxes

['Sugar', 'Salt', 'Pepper', 'Seasame', 'Sugar']

In [15]:
# How many boxes contain Sugar?

boxes.count('Sugar')

2

In [ ]:
# Try your own

## Tracking income

In [17]:
incomes = [
    10202.00,  # Jan
    10521.83,  # Feb
    10202.67,  # Mar
    10911.73,  # Apr
    9968.00,   # May
    10110.53,  # Jun
    9968.00,   # Jul
    10627.98,  # Aug
    9968.01,   # Sep
    9968.00,   # Oct
    9968.00,   # Nov
    9968.00    # Dec
]
print(incomes)

[10202.0, 10521.83, 10202.67, 10911.73, 9968.0, 10110.53, 9968.0, 10627.98, 9968.01, 9968.0, 9968.0, 9968.0]

In [ ]:
# Print salary of Jan

In [ ]:
# Print salary of Dec

In [ ]:
# Print salary of first half year

In [ ]:
# Print salary of second half year

In [18]:
# Calc total income in 2023

In [19]:
# Calc average monthly income

## Tracking expenses

In [22]:
expenses = [
    7949.39,
    6945.28,
    9967.68,
    15961.15,
    8865.4,
    8839.26,
    10503.68,
    8225.97,
    8239.02,
    10382.03,
    11587.64,
    9306.37
]
print(expenses)

[7949.39, 6945.28, 9967.68, 15961.15, 8865.4, 8839.26, 10503.68, 8225.97, 8239.02, 10382.03, 11587.64, 9306.37]

## Tracking Cash flow

Ask ChatGPT:
```
Write python code to calc my cash flow, show me the code, also give me the monthly resultL 
incomes = [10202.0, 10521.83, 10202.67, 10911.73, 9968.0, 10110.53, 9968.0, 10627.98, 9968.01, 9968.0, 9968.0, 9968.0]
expenses = [7949.39, 6945.28, 9967.68, 15961.15, 8865.4, 8839.26, 10503.68, 8225.97, 8239.02, 10382.03, 11587.64, 9306.37]
cashflow = [filling the result here]
```

In [24]:
# Past and run the code here:
cashflow = [income - expense for income, expense in zip(incomes, expenses)]
print(cashflow)

[2252.6099999999997, 3576.55, 234.98999999999978, -5049.42, 1102.6000000000004, 1271.2700000000004, -535.6800000000003, 2402.01, 1728.9899999999998, -414.03000000000065, -1619.6399999999994, 661.6299999999992]